/* You can add global styles to this file, and also import other style files */
/* @import "./node_modules/leaflet/dist/leaflet.css" */

/* @import "~leaflet/dist/leaflet.css"; */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
h1,h2,h3,h4,h5,h6,p,a,span,input,label,textarea,select,button,option{
    font-family: 'Montserrat', sans-serif !important;
}

.swal2-confirm, .swal2-styled{
    background: rgb(82, 82, 77) !important;
}

.swal2-actions{
    justify-content: center !important;
}

/* .swal2-popup{
    background: #ffc107 !important;
} */

/* danger #df4759 */
